{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Profile | Emmanuel Katchy</title>
	
	<link href="{% static 'css/bootstrap.css' %}" rel= "stylesheet" />
	<link href="{% static 'css/main.css' %}" rel= "stylesheet" />
	
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/popper.js' %}"></script>
	<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</head>
<body>
<center>
<div class="jumbotron">
<center>

<h1 class="display-3">Emmanuel T. Katchy</h1>
<img src="{% static 'img/profile_new.jpg' %}" class="rounded-img" style="max-width: 400px; max-height: 400px; border-style: double; border-color: #AAAAFF;border-spacing: 50px">
<p class="lead"><span class="text-muted">A Software Developer and Omnipreneur.</span></p>
<br>
<a href="#">
<img src="{% static 'img/fb.png'%}" class="social-icon">
</a>
<a href="#">
<img src="{% static 'img/yt.png'%}" class="social-icon">
</a>
<a href="#">
<img src="{% static 'img/wa.png'%}" class="social-icon">
</a>
<a href="#">
<img src="{% static 'img/linkedin.png'%}" class="social-icon">
</a>
<br>
<br>
<button class="btn btn-outline-primary btn-lg">Download My CV</button>
</center>
<br>
<div class="card w-75 upper-layout">
<div class="row">
	<div class="col-4">
		<h4 class="display-4"><img src="{% static 'img/files.png' %}">  Projects</h4>
		<br>
		<ul class="list-unstyled">
			<li>
				<h4 class="text-primary">MedicAid</h4><span class="text-muted">Medical Donation Platform</span>

			</li>
			<br>
			<li>
				<h4 class="text-primary">TT-Util </h4><span class="text-muted">File Management System</span>

			</li>
			<br>
			<li>
				<h4 class="text-primary">Crossed</h4><span class="text-muted">Emergency Management Transport System</span>

			</li>
			<br>
			<li>
				<h4 class="text-primary">Equity Screener</h4><span class="text-muted">Algorithmic Backtesting on QuantConnect</span>

			</li>
			<br>
		</ul>
	</div>
	<div class="col-4">
		<h4 class="display-4"><img src="{% static 'img/service.png' %}">  Services</h4>
		<ul class="list-unstyled">
			<li>
				<img src="{% static 'img/plus.png'%}" class="service-img"><h3 class="text-secondary">Web Development</h3>
			</li>
			<br>
			<li>
				<img src="{% static 'img/plus.png'%}" class="service-img"><h3 class="text-secondary">Task Automation</h3>
			</li>
			<br>
			<li>
				<img src="{% static 'img/plus.png'%}" class="service-img"><h3 class="text-secondary">Data Engineering</h3>
			</li>
			<br>
			<li>
				<img src="{% static 'img/plus.png'%}" class="service-img"><h3 class="text-secondary">Data Analysis</h3>
			</li>
			<br>
	</div>

	<div class="col-4">
		<h4 class="display-4"><img src="{% static 'img/tools.png' %}">  Tools</h4>
		<ul class="list-unstyled">
			<li>
				<img src="{% static 'img/python.png'%}" class="tool">
				<br>
				Python 
			</li>
			<br>
			<li>
				<img src="{% static 'img/psql.png'%}" class="tool">
				<br>
				PostGreSQL 
			</li>
			<br>
			<li>
				<img src="{% static 'img/git.png'%}" class="tool">
				<br>
				Git 
			</li>
			<br>
			<li>
				<img src="{% static 'img/heroku.png'%}" class="tool">
				<br>
				Heroku 
			</li>
			<br>
		</ul>
	</div>
</div>
</div>
</div>
<div class="">
<center>
<div class="row">
		<div class="col-12 my-auto">
		<div class="card card-block w-50">
		<div class="card-header"><h3>Get In Touch</h3></div>
		<div class="card-body">
		<form class="" method ="POST">							    	
    	    {% csrf_token %}
    	    {{form|crispy}}
    	    <br>
    	    <button type="submit" class="btn btn-primary form-control">Submit</button>
		</form>
		</div>
		</div>
</div>

</div>
</center>
</div>
<center>	
<img src="{% static 'img/zuri.jpg' %}" style="max-width: 200px;max-height: 100px; align-self: center;">
<img src="{% static 'img/i4g.png' %}" style="max-width: 200px;max-height: 100px; align-self: center;">
<div class="text-secondary">Find out more about the Zuri Internship! Click <a href="https://zuri.team" target="_blank">here</a></div>
</center>
</body>
</html>